@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
}

/* React flow handle customization*/

.react-flow {
  .react-flow__handle {
    width: 15px;
    height: 30px;
    border-radius: 5px;
    background-color: #69c;
  }

  .react-flow__handle-top {
    top: -5px;
  }

  .react-flow__handle-bottom {
    bottom: -5px;
  }

  .react-flow__handle-left {
    left: -5px;
  }

  .react-flow__handle-right {
    right: -5px;
  }
}
